*{
	margin: 0;
	padding: 0;
}
body{
	background:black;
}
.move,.die{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 41px;
	background-repeat:  no-repeat;
	background-position: center;
}
.move{
	background-image: url(../images/movebg.jpg);
}
.die{
	background-image: url(../images/die.jpg);
}
.move span{
	display: block;
	width:20px;
	height:20px;
	margin:0 auto;
	font-size: 16px;
	font-weight: bold;
	color:yellow;
	text-align: center;
	background-color: black;
}
.zidan{
	width:10px;
	height:10px;
	border-radius: 50%;
	background-color: orange;
	position:absolute;
}
#gun{
	width:40px;
	height:50px;
	margin:0 auto;
	background:url(../images/gun.jpg) no-repeat center;
}
.integer_box{
	width:100%;
	height:30px;
	line-height: 30px;
	color:orange;
	font-family: '黑体';
	font-weight: bold;
	text-align: center;
	background:black;
	position:relative;
	left:0px;
	top:0px;
	z-index: 3;
}
.integer_box span{
	margin-left: 60px;
	margin-right: 60px;

}
.integer_box span b{
	color:#11E919;
}
.life b{
	width:150px;
	border-radius: 6px;
	height:15px;
	display:inline-block;
	position:relative;
	top:2px;
	overflow: hidden;
	border:1px solid white;
}
.life div{
	width:100%;
	height:100%;
	background-color: orange;
	position:absolute;
}

#start_box i{
	display: block;
	position: absolute;
	left:20px;
	top:300px;
	width: 25px;
	height: 25px;
	background: url(images/start.png) no-repeat center;
}
#msg_tab{
	width:100%;
}
#msg_box{
	background-color: black;
	color:white;
	position:absolute;
	top:100px;
	left:300px;
	width:200px;
	border:1px solid green;
	height:auto;
	padding: 20px;
	display:none;
	z-index: 6;
}